* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rainbow {
  height: 800px;
  width: 90%;
  border: 2px solid black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  .child {
    height: 100px;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
  }
}
